html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Arial", sans-serif;
    line-height: 1.5;
    background-color: #fff;
    color: #222;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* Main content */
.main-content {
    padding: 80px 144px;
    background-color: #e7e7e7;
    flex-grow: 1;
}

/* Section hero styles */
.hero {
    display: block;
    width: 100%;
    max-width: 570px;
    flex-grow: 1;
    margin-right: 12px;
}
.hero-content {
    background-image: url(../img/Rectangle\ 6.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-left: 60px;
    padding-right: 121px;
    padding-top: 55px;
    padding-bottom: 232px;
    border-radius: 20px 20px 0 0;
}
.hero-content-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    padding: 5px 15px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: inherit;
    text-decoration: none;
    margin-bottom: 40px;
    transition: background-color 0.3s ease,
    color 0.3s ease, opacity 0.3s ease;
}

.hero-content-link:hover {
    background-color: #fff;
    color: #222;
}
.hero-content-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 25px;
}
.hero-content-text {
    color: #fff;
}
.hero-btn {
    width: 100%;
    padding: 29px 145px;
    color: #fff;
    background-color: #4dc490;
    border-radius: 0 0 20px 20px;
    border: 0;
}
.hero-btn:hover {
    opacity: 0.8;
}
.hero-btn:active {
    opacity: 0.6;
}


.sign-up {
    width: 100%;
    max-width: 570px;
    flex-grow: 1;
    background-color: #fff;
    border-radius: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 58px;
    padding-bottom: 40px;
}
.sign-up-heading {
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #000;
    margin-top: 0;
    margin-bottom: 16px;
}

/* Form styles */
form {
    margin-top: 63px;
    margin-bottom: 8px;
}

input {
    display: block;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #555;
    padding-bottom: 14px;
}

input:not(:first-child) {
    padding-top: 35px;
}
input::placeholder {
    color: #555;
}

.password-input {
    margin-bottom: 63px;
}

.name-input {
    display: block;
    border-bottom: 1px solid #000;
}
.name-input::placeholder {
    color: #000;
    font-size: 18px;
    line-height: 22px;
}

/* Submit styles */
.submit-form-btn {
    border: 0;
    padding-top: 22px;
    padding-bottom: 22px;
    width: 100%;
    color: #fff;
    font-weight: 600;
    background-color: #655af2;
    border-radius: 10px;
}
.submit-form-btn:hover {
    opacity: 0.8;
}
.submit-form-btn:active {
    opacity: 0.6;
}

/* Terms and conditions styles */
.terms-conditions {
    font-size: 11px;
    line-height: 15px;
    color: #555;
}
.signup-term-link {
    text-decoration: none;
    color: #f03535;
}
